<style>


Title {

}

h1 {
  text-align: center;
  font-family: "Lucida Console", monospace;
  color:black; font-size: 25px;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-family: sans-serif,"Arial"
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}


body{
  background-color: LightSteelBlue;
  text-align: center;
}

</style>
